# Trabajar con varios dataframes
En el apartado anterior hemos visto como interactuar un poco con los DataFrames, cargar, exportar, obtener elementos, particionar un DataFrame y sus atributos y métodos. En este apartado vamos a ver como trabajar un poco a nivel avanzado.

In [1]:
import pandas as pd 

df = pd.read_csv('./csv/countries.csv') 
df

  country_id country_name  region_id
0         AR    Argentina          2
1         AU    Australia          3
2         BE      Belgium          1
3         BR       Brazil          2
4         CA       Canada          2
5         CH  Switzerland          1

![](../../../images/pandas/07.png)

`pandas.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index=True)`

In [2]:
melted_df = df.melt(id_vars=['Fecha', 'Categoria', 'Tipo'], value_vars=['Valor_Cantidad', 'Valor_Precio'], var_name='Variable', value_name='Valor')


melted_df

KeyError: "The following 'id_vars' are not present in the DataFrame: ['Categoria', 'Fecha', 'Tipo']"

© 2008–2022, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
Licensed under the 3-clause BSD License.
https://pandas.pydata.org/pandas-docs/version/1.5.0/user_guide/reshaping.html